/* se usó css para dar paleta de color */
*{
  margin:0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  
}


section {
  background-color: black;

}

.iconos {
  color: white;
  
}

#contacto {
  background-color: black;
  color: white;
  text-align: center;

}

hr {
  color:#17a2b8;
}

.card-img-top {
  width: 238px;
  height: 158.667px;
}